[Unit]
Description=Homepass for 3DS
After=sysinit.target

[Service]
StandardInput=tty
StandardOutput=tty
Restart=always
RestartSec=1
ExecStart=/usr/bin/screen -S homepass /srv/homepass/bin/homepass.sh

[Install]
WantedBy=multi-user.target
